.home-main {
  height: 100vh;
  width: 76%;
  background-color: #f6f4fe;
  display: flex;
  padding: 0 12%;
}

.home-right-wrapper {
  width: 40%;
  display: flex;
  justify-content: center;
  padding-top: 10%;
}

@media only screen and (max-width: 400px) {
  .home-main {
    width: 88%;
    padding: 0 6%;
    flex-direction: column;
    height: 100%;
  }

  .home-right-wrapper {
    width: 100%;
    padding-top: 2%;
  }

  .home-right-wrapper > img {
    width: 105%;
    height: 95%;
  }
}
