.thirst-division {
    background-image: url('../assets/images/ban-exedente.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 300px;
    height: 300px;
}

@media only screen and (max-width: 435px) {
    .thirst-division {
        background-size: 100vw 80px;
        height: 80px;
    }
}