.video-demo-main {
    height: 100vh;
    background-color: rgba(246, 244, 254, 0.6);
}

.video-demo-title-wrapper {
    padding-top: 4%;
    margin-bottom: 4%;
    text-align: center;
}
  
.video-demo-title-wrapper > h1 {
    font-size: 60px;
    margin: 0;
    padding: 0;
    line-height: 1;
    letter-spacing: -1px;
    font-family: Gotham-Black;
}

.video-demo-title-wrapper > h1:nth-child(1) {
    color: rgb(70, 70, 70);
}
  
.video-demo-title-wrapper > h1:nth-child(2) {
    color: #7C91FC;
}

.video-demo-video-wrapper {
    height: 55%;
}

.video-demo-iframe {
    width:100%;
    height:100%;
}

@media only screen and (max-width: 435px) {
    .video-demo-main {
        height: 100%;
        padding: 0 6%;
    }

    .video-demo-title-wrapper {
        text-align: left;
    }

    .video-demo-title-wrapper > h1 {
        font-size: 35px;
    }

    .video-demo-video-wrapper {
        height: 190px !important;
        padding-bottom: 5%;
    }
}