@font-face {
  font-family: "GothamLight";
  src: local("GothamLight"),
    url(./assets/fonts/GothamLight.ttf) format("truetype");
}

@font-face {
  font-family: "GothamBold";
  src: local("GothamLight"),
    url(./assets/fonts/GothamBold.ttf) format("truetype");
}

@font-face {
  font-family: "Gotham-Black";
  src: local("GothamLight"),
    url(./assets/fonts/Gotham-Black.otf) format("truetype");
}

@font-face {
  font-family: "M-Light";
  src: local("M-Light"),
    url(./assets/fonts/M-Light.ttf) format("truetype");
}

@font-face {
  font-family: "M-Reg";
  src: local("M-Reg"),
    url(./assets/fonts/M-Reg.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: GothamLight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
